# IntelliJ
.idea/
*.iml
out/

### macOS
*.DS_Store
.AppleDouble
.LSOverride
.Trashes

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Environments
.env
.venv
env/
venv/

# mypy
.mypy_cache/

# Distribution / packaging
*.egg-info/
*.egg
